﻿@{
int count = 0;
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slider Table</h4>
                <div class="table-responsive">
                    <a asp-action="create" class="btn btn-outline-success btn-fw">Create</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Count
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Subtitle
                                </th>
                                <th>
                                    Order
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Slider slider in Model)
                            {
                                count++;
                                <tr>
                                    <td>
                                        <p>@count</p>
                                    </td>
                                    <td>
                                        <img src="~/assets/images/website-images/@slider.Image" />
                                    </td>
                                    <td>
                                        <p>@slider.Title</p>
                                    </td>
                                    <td>
                                        <p>@slider.Subtitle</p>
                                    </td>
                                    <td>
                                        <p>@slider.Order</p>
                                    </td>
                                    <td>
                                        <a asp-action="update" asp-route-id="@slider.Id" class="btn btn-outline-warning btn-fw">Edit</a>
                                        <a asp-action="delete" asp-route-id="@slider.Id" class="btn btn-outline-danger btn-fw">Delete</a>
                                        <a asp-action="Detail" asp-route-id="@slider.Id" class="btn btn-outline-info btn-fw">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
